<h1>アマゾン‐ヤフオク販売ツール</h1>
<p>ログイン中：<%= @user %></p>
<%= link_to "アカウント管理", accounts_path, :target=>["_blank"] %>
<%= link_to "パラメータ設定", items_set_path, :target=>["_blank"] %>
<br>
<br>
<button id="done">ヤフオク情報取得</button>
<button id="make_csv">CSV作成</button>
<button id="csv_upload">アップロード</button>
<br>
<br>
<div id="main"></div>
<p>アップロードCSV</p>
<div id="csv"></div>
