<h1>各情報の設定</h1>
<p>各種パラメータを設定</p>
<button id="save">保存</button>
<br>
<br>
<table>
  <tr>
    定型パラメータの設定
  </tr>
  <tr>
    <div id="fix_table">
  </tr>
</table>

<table>
  <tr>
    <td colspan="2">ブランドと検索キーワードの設定</td>
  </tr>
  <tr>
    <td colspan="2"><div id="brand_table"></td>
  </tr>
</table>
<br>
<table>
  <tr>
    <td>販売価格テーブルの設定</td>
    <td>タイトル置換テーブルの設定</td>
  </tr>
  <tr>
    <td><div id="price_table"></td>
    <td><div id="title_table"></td>
  </tr>
</table>

<%= javascript_include_tag 'image_set' %>
